@mixin blink($interval) {
  -webkit-animation: $interval blink step-end infinite;
  -moz-animation: $interval blink step-end infinite;
  -ms-animation: $interval blink step-end infinite;
  -o-animation: $interval blink step-end infinite;
  animation: $interval blink step-end infinite;
}

@mixin fadeInOpacity($interval) {
  -webkit-animation: $interval fadeInOpacity ease-in;
  -moz-animation: $interval fadeInOpacity ease-in;
  -ms-animation: $interval fadeInOpacity ease-in;
  -o-animation: $interval fadeInOpacity ease-in;
  animation: $interval fadeInOpacity ease-in;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

#blinking-cursor {
  font-weight: 800;
  color: #fff2c0;
  @include blink(1s);
}

#fade-in {
	// opacity: 1;
  @include fadeInOpacity(3s)
}

@include keyframes(blink) {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@include keyframes(fadeInOpacity) {
  from { opacity: 0};
  to {opacity: 1;}
  // from, to {
  //   opacity: 0;
  // }
  // 100% {
  //   opacity: 1;
  // }
}
