$monofonts: 'Fira Mono',Consolas, 'Courier New', monospace;
$slightlyblack: #111;
$slightlywhite: #EEE;


body {
  background-color: $slightlyblack;
  font-family: Arial, Helvetica, sans-serif;
  
}

#container {
  min-height: 99vh;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 16em 1fr;
  grid-template-rows: 1fr 2em;
  grid-template-areas: "menu main"
                       "footer footer";
}

nav {
  grid-area: menu;
  background-color: $slightlywhite;
  padding-top: 1em;
  ul {
    list-style-type: none;
    a {
      text-decoration: none;
      color: $slightlyblack;
    }
    li {
      font-family: $monofonts;
      margin: 0.5em 0;
      padding: 0.25em;
      font-weight: bold;
      display: block;
      width: 100%;
    }
    li:hover, li:focus {
      background-color: $slightlyblack;
      color: $slightlywhite;
    }
  }
}

main {
  grid-area: main;
  background-color: $slightlywhite;
}

header {
  a {
    text-decoration: none;
    color: $slightlyblack;
  }
}

footer {
  grid-area: footer;
  color: #444;
  display: flex;
  justify-content: center;
  align-content: center;
  p {
    font-size: 0.8rem;
  }
}

.content {
  padding: 1em 2em;
}

.logo {
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

#projects {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, .5fr [col-start]);
  grid-template-rows: repeat(2, .5fr [row-start]);

}

.project {
  background: $slightlyblack;
  display: flex;
  padding: 1em 1em 1em 0em;
}

.project img {
  max-width: 100%;
  height: auto;
}

.proj_info {
  padding: 2em;
  color: $slightlywhite;
  h3 {
    color: #eee;
    text-align: center;
  }
}

.hidden {
  display: none;
}

.btn {
  position: relative;
  width: 100%;
  display: block;
  margin: 1em 0;
  padding: 1em;
  border-width: 0;
  background-color: $slightlywhite;
  color: #000;
  transition: background-color .3s;
  text-decoration: none;
}

.proj-btn {
  text-align: center;
}

.btn:hover, .btn:focus {
  background-color: #444;
  color: $slightlywhite;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

.react-pdf_Page_svg {
  margin: 0 auto;
  width: 60vw;
}

@media only screen and (max-width: 600px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 8em 1fr 4em;
    grid-template-areas: "menu"
                         "main"
                         "footer";
  }

  .logo {
    display: none;
  }

  #projects {
    display: block;
  }
}
