@mixin blink($interval) {
  -webkit-animation: $interval blink step-end infinite;
  -moz-animation: $interval blink step-end infinite;
  -ms-animation: $interval blink step-end infinite;
  -o-animation: $interval blink step-end infinite;
  animation: $interval blink step-end infinite;

}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

#blinking-cursor {
  font-weight: 800;
  color: #fff2c0;
  @include blink(1s);
}

@include keyframes(blink) {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
