#blinking-cursor {
  font-weight: 800;
  color: #fff2c0;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite; }

@-webkit-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: white; } }

@-moz-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: white; } }

@-ms-keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: white; } }

@keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: white; } }
